:root {
  font:
    18px/145% system-ui,
    "Segoe UI",
    Roboto,
    sans-serif;
  color-scheme: dark;
  background: #09090b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
}
